@import 'variables';

$dark-blue: #409cd2;
$light-blue: #bfd2fb;
$orange: #f5a167;
$red: #ee4350;
$max: 100%;
$padding-margin-std: 10%;

.carousel-pause {
    display: none;
}

.card {
    &.is-horizontal {
        display: flex;

        .card-image {
            width: $max;
            height: $max;
        }

        .card-stacked {
            flex-direction: column;
            flex: 1 1 auto;
            display: flex;
            position: relative;
            width: 50%;

            .card-content {
                flex-grow: 2;
            }
        }
    }

    &.is-fullimage {
        background-color: transparent;

        .card-image {
            color: #fff !important;
            height: $max;

            .card-stacked {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
                text-shadow: 0px 0px 2px #000000;

                .card-footer {
                    border-color: transparent;
                }

                .title,
                .subtitle {
                    color: inherit;
                }

                a {
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.page-content {
    min-height: calc(100vh - 20vh);
}

.content-text {
    display: -webkit-box;
    line-height: 1.5rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 760) {
        /* CSS that should be displayed if width is equal to or less than 800px goes here */
        -webkit-line-clamp: 2;
    }
}


.content-title {
    display: -webkit-box;
    line-height: 1.5rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.footer {
    height: 50px;
  }

.full-height {
    height: $max;
}


.equal-height,
.to-bottom {
    flex: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: $light-blue !important;
}

.swiper-button-next ::after {
    color: $light-blue !important;
}

.swiper-button-prev ::after {
    color: $light-blue !important;
}

.tile {
    height: $max;
}


#search-submit {
    margin-top: 10px !important;
}

#search-switch {
    margin: 10px;
    width: 27%;
}

#search-toggle {
    padding: 10px;
}